### Capstone Project -Week 4

### Data Sources:
##### The following data files are used for the analysis
##### 1. <a href="https://www.mapsofworld.com/usa/zipcodes/california/los-angeles/" target="_blank">Los Angeles County City List</a> - City and Zipcode Mapping for the cities in Los Angeles County.
##### 2. <a href="https://data.lacity.org/Community-Economic-Development/2010-Census-Populations-by-Zip-Code/nxs9-385f" target = "_blank"> Los Angeles County Population and Household File </a> - Total Population, Total Male, Total Femail, Total Household, Avg. Houshold for the cities of Los Angeles County.
##### 3. <a href="https://en.wikipedia.org/wiki/Demographics_of_Los_Angeles_County" target="_blank"> Los Angeles County Household Income </a> - Medium Household Income and Medium Family Income for the cityes of Los Angeles County
##### 4. Neighborhood Venues from Foursquare based on coordinate of cities.

In [1]:
import pandas as pd
import numpy as np

from sklearn.cluster import KMeans 

from geopy.geocoders import Nominatim
import requests

import folium
import matplotlib.cm as cm
import matplotlib.colors as colors

##### Get the source data for City and Zipcode Mapping for the cities in Los Angeles County.

In [2]:
url="https://www.mapsofworld.com/usa/zipcodes/california/los-angeles/"
tbls=pd.read_html(url)
print(len(tbls))

10

In [3]:
city_zip_map=tbls[2]
city_zip_map.columns=['State','Borough','City','Zipcode']
city_zip_map.drop([0],inplace=True)
city_zip_map["Address"]=city_zip_map["City"]+","+city_zip_map["Borough"]+","+city_zip_map["State"]
city_zip_map['Zipcode']=pd.to_numeric(city_zip_map['Zipcode'])
city_zip_map.head()

,State,Borough,City,Zipcode,Address
1,California,Los Angeles,Acton,93510,"Acton,Los Angeles,California"
2,California,Los Angeles,Agoura Hills,91301,"Agoura Hills,Los Angeles,California"
3,California,Los Angeles,Alhambra,91801,"Alhambra,Los Angeles,California"
4,California,Los Angeles,Altadena,91001,"Altadena,Los Angeles,California"
5,California,Los Angeles,Arcadia,91006,"Arcadia,Los Angeles,California"

#### Get Latitue and Longitude for each city

In [4]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="my_los_angeles_agent")
city_zip_map["Loc_Coord"]=city_zip_map['Address'].apply(geolocator.geocode).apply(lambda Address:tuple(Address.point) if Address else None)
city_zip_map[["lat","log","altitude"]]=pd.DataFrame(city_zip_map["Loc_Coord"].tolist(),index=city_zip_map.index)
city_zip_map.drop(['Loc_Coord','altitude'],axis=1,inplace=True)
city_zip_map

,State,Borough,City,Zipcode,Address,lat,log
1,California,Los Angeles,Acton,93510,"Acton,Los Angeles,California",34.480741,-118.186838
2,California,Los Angeles,Agoura Hills,91301,"Agoura Hills,Los Angeles,California",34.147910,-118.765704
3,California,Los Angeles,Alhambra,91801,"Alhambra,Los Angeles,California",34.093042,-118.127060
4,California,Los Angeles,Altadena,91001,"Altadena,Los Angeles,California",34.186316,-118.135233
5,California,Los Angeles,Arcadia,91006,"Arcadia,Los Angeles,California",34.053691,-118.242766
6,California,Los Angeles,Artesia,90701,"Artesia,Los Angeles,California",33.869020,-118.079620
7,California,Los Angeles,Avalon,90704,"Avalon,Los Angeles,California",33.342210,-118.327261
8,California,Los Angeles,Azusa,91702,"Azusa,Los Angeles,California",34.133875,-117.905605
9,California,Los Angeles,Baldwin Park,91706,"Baldwin Park,Los Angeles,California",34.085474,-117.961176
10,California,Los Angeles,Bell,90202,"Bell,Los Angeles,California",33.974781,-118.186636
11,California,Los Angeles,Bell Gardens,90201,"Bell Gardens,Los Angeles,California",33.969456,-118.150395
12,California,Los Angeles,Bellflower,90706,"Bellflower,Los Angeles,California",33.882570,-118.116768
13,California,Los Angeles,Beverly Hills,90209,"Beverly Hills,Los Angeles,California",34.069650,-118.396306
14,California,Los Angeles,Burbank,91501,"Burbank,Los Angeles,California",34.181648,-118.325855
15,California,Los Angeles,Calabasas,91302,"Calabasas,Los Angeles,California",34.144664,-118.644097
16,California,Los Angeles,Canoga Park,91303,"Canoga Park,Los Angeles,California",34.190983,-118.596178
17,California,Los Angeles,Canyon Country,91351,"Canyon Country,Los Angeles,California",34.423329,-118.472028
18,California,Los Angeles,Carson,90745,"Carson,Los Angeles,California",33.832204,-118.251755
19,California,Los Angeles,Castaic,91310,"Castaic,Los Angeles,California",34.488882,-118.622866
20,California,Los Angeles,Cerritos,90703,"Cerritos,Los Angeles,California",33.864429,-118.053932
21,California,Los Angeles,Chatsworth,91311,"Chatsworth,Los Angeles,California",34.259571,-118.602325
22,California,Los Angeles,City Of Industry,91714,"City Of Industry,Los Angeles,California",NaN,NaN
23,California,Los Angeles,Claremont,91711,"Claremont,Los Angeles,California",34.096676,-117.719779
24,California,Los Angeles,Compton,90220,"Compton,Los Angeles,California",33.894927,-118.226624
25,California,Los Angeles,Covina,91722,"Covina,Los Angeles,California",34.087793,-117.889116
26,California,Los Angeles,Culver City,90230,"Culver City,Los Angeles,California",34.021122,-118.396466
27,California,Los Angeles,Diamond Bar,91765,"Diamond Bar,Los Angeles,California",34.028623,-117.810337
28,California,Los Angeles,Dodgertown,90090,"Dodgertown,Los Angeles,California",NaN,NaN
29,California,Los Angeles,Downey,90239,"Downey,Los Angeles,California",33.942215,-118.123565
30,California,Los Angeles,Duarte,91008,"Duarte,Los Angeles,California",34.139451,-117.977287
...,...,...,...,...,...,...,...
106,California,Los Angeles,South Gate,90280,"South Gate,Los Angeles,California",33.946346,-118.200981
107,California,Los Angeles,South Pasadena,91030,"South Pasadena,Los Angeles,California",34.113306,-118.147829
108,California,Los Angeles,Stevenson Ranch,91381,"Stevenson Ranch,Los Angeles,California",34.388178,-118.585396
109,California,Los Angeles,Studio City,91604,"Studio City,Los Angeles,California",34.148399,-118.396188
110,California,Los Angeles,Sun Valley,91352,"Sun Valley,Los Angeles,California",34.053691,-118.242766
111,California,Los Angeles,Sunland,91040,"Sunland,Los Angeles,California",34.266947,-118.302300
112,California,Los Angeles,Sylmar,91342,"Sylmar,Los Angeles,California",34.307625,-118.449215
113,California,Los Angeles,Tarzana,91356,"Tarzana,Los Angeles,California",34.168807,-118.536120
114,California,Los Angeles,Temple City,91780,"Temple City,Los Angeles,California",34.108299,-118.057757
115,California,Los Angeles,Thousand Oaks,91363,"Thousand Oaks,Los Angeles,California",34.157777,-118.814145
116,California,Los Angeles,Toluca Lake,91610,"Toluca Lake,Los Angeles,California",34.152169,-118.357142
117,California,Los Angeles,Topanga,90290,"Topanga,Los Angeles,California",34.090858,-118.597251
118,California,Los Angeles,Torrance,90501,"Torrance,Los Angeles,California",33.835849,-118.340629
119,California,Los Angeles,Tujunga,91042,"Tujunga,Los Angeles,California",34.252225,-118.288410
120,California,Los Angeles,Universal City,91608,"Universal City,Los Angeles,California",34.141223,-118.358194
121,California,Los Angeles,Valencia,91354,"Valencia,Los Angeles,California",34.413819,-118.561038
122,California,Los Angeles,Valley Village,91607,"Valley Village,Los Angeles,California",34.163715,-118.396576
123,California,Los Angeles,Valyermo,93563,"Valyermo,Los Angeles,California",34.446108,-117.852286
124,California,Los Angeles,Van Nuys,91388,"Van Nuys,Los Angeles,California",34.186619,-118.448667
125,California,Los Angeles,Venice,90291,"Venice,Los Angeles,California",33.988335,-118.461527
126,California,Los Angeles,Verdugo City,91046,"Verdugo City,Los Angeles,California",34.211394,-118.239519
127,California,Los Angeles,Walnut,91788,"Walnut,Los Angeles,California",34.020289,-117.865339
128,California,Los Angeles,West Covina,91790,"West Covina,Los Angeles,California",34.068621,-117.938953
129,California,Los Angeles,West Hills,91307,"West Hills,Los Angeles,California",34.203232,-118.645476
130,California,Los Angeles,West Hollywood,90069,"West Hollywood,Los Angeles,California",34.092301,-118.369289
131,California,Los Angeles,Westlake Village,91359,"Westlake Village,Los Angeles,California",34.146023,-118.806179
132,California,Los Angeles,Whittier,90601,"Whittier,Los Angeles,California",33.970878,-118.030840
133,California,Los Angeles,Wilmington,90744,"Wilmington,Los Angeles,California",33.780016,-118.262509
134,California,Los Angeles,Winnetka,91306,"Winnetka,Los Angeles,California",34.197449,-118.571006
135,California,Los Angeles,Woodland Hills,91364,"Woodland Hills,Los Angeles,California",34.168436,-118.605838

####  Get City Population, Median Age, Total Households and Average Household size

In [5]:
population=pd.read_csv("2010_Census_Populations_by_Zip_Code.csv")
population['Zip Code']=pd.to_numeric(population['Zip Code'])
population.head()

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
0,91371,1,73.5,0,1,1,1.00
1,90001,57110,26.6,28468,28642,12971,4.40
2,90002,51223,25.5,24876,26347,11731,4.36
3,90003,66266,26.3,32631,33635,15642,4.22
4,90004,62180,34.8,31302,30878,22547,2.73

#### Merge City Mapping file and Population file together based on Zip code.

In [6]:
population_household=pd.merge(left=population,right=city_zip_map,left_on=population['Zip Code'],right_on=city_zip_map['Zipcode'])
population_household.head()

,key_0,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size,State,Borough,City,Zipcode,Address,lat,log
0,90001,90001,57110,26.6,28468,28642,12971,4.40,California,Los Angeles,Los Angeles,90001,"Los Angeles,Los Angeles,California",34.053691,-118.242766
1,90069,90069,20483,41.5,12153,8330,13364,1.53,California,Los Angeles,West Hollywood,90069,"West Hollywood,Los Angeles,California",34.092301,-118.369289
2,90090,90090,0,0.0,0,0,0,0.00,California,Los Angeles,Dodgertown,90090,"Dodgertown,Los Angeles,California",NaN,NaN
3,90094,90094,5464,33.7,2559,2905,2949,1.85,California,Los Angeles,Playa Vista,90094,"Playa Vista,Los Angeles,California",33.976010,-118.418165
4,90201,90201,101279,27.8,50658,50621,24104,4.16,California,Los Angeles,Bell Gardens,90201,"Bell Gardens,Los Angeles,California",33.969456,-118.150395

In [7]:
population_household.shape

(121, 15)

#### Data cleanse

In [8]:
population_household.groupby("City").sum().reset_index()
population_household.dropna(subset=['lat','log'],inplace=True)
population_household.head()

,key_0,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size,State,Borough,City,Zipcode,Address,lat,log
0,90001,90001,57110,26.6,28468,28642,12971,4.40,California,Los Angeles,Los Angeles,90001,"Los Angeles,Los Angeles,California",34.053691,-118.242766
1,90069,90069,20483,41.5,12153,8330,13364,1.53,California,Los Angeles,West Hollywood,90069,"West Hollywood,Los Angeles,California",34.092301,-118.369289
3,90094,90094,5464,33.7,2559,2905,2949,1.85,California,Los Angeles,Playa Vista,90094,"Playa Vista,Los Angeles,California",33.976010,-118.418165
4,90201,90201,101279,27.8,50658,50621,24104,4.16,California,Los Angeles,Bell Gardens,90201,"Bell Gardens,Los Angeles,California",33.969456,-118.150395
5,90220,90220,49328,29.8,23773,25555,12741,3.85,California,Los Angeles,Compton,90220,"Compton,Los Angeles,California",33.894927,-118.226624

In [9]:
population_household.shape

(119, 15)

#### Get City Household income file

In [10]:
url2="https://en.wikipedia.org/wiki/Demographics_of_Los_Angeles_County"
tbl2=pd.read_html(url2)
Population_Income=tbl2[2]
Population_Income.columns=['Place', 'Type','Population','Per capita income','Median household income','Median family income']
Population_Income.head()

,Place,Type,Population,Per capita income,Median household income,Median family income
0,Acton,CDP,7138,"$33,279","$87,896","$94,673"
1,Agoura Hills,City,20353,"$53,193","$108,820","$129,648"
2,Agua Dulce,CDP,2991,"$39,064","$97,000","$105,833"
3,Alhambra,City,83301,"$24,849","$52,717","$56,062"
4,Alondra Park,CDP,8358,"$23,742","$58,906","$57,784"

In [11]:
Population_Income.shape

(141, 6)

#### Merge the income file with the main file

In [12]:
pop_house_income=pd.merge(left=population_household,right=Population_Income,left_on="City",right_on="Place")
pop_house_income.head()

,key_0,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size,State,Borough,...,Zipcode,Address,lat,log,Place,Type,Population,Per capita income,Median household income,Median family income
0,90001,90001,57110,26.6,28468,28642,12971,4.40,California,Los Angeles,...,90001,"Los Angeles,Los Angeles,California",34.053691,-118.242766,Los Angeles,City,3782544,"$28,222","$50,028","$54,243"
1,90069,90069,20483,41.5,12153,8330,13364,1.53,California,Los Angeles,...,90069,"West Hollywood,Los Angeles,California",34.092301,-118.369289,West Hollywood,City,34564,"$53,227","$52,303","$63,725"
2,90201,90201,101279,27.8,50658,50621,24104,4.16,California,Los Angeles,...,90201,"Bell Gardens,Los Angeles,California",33.969456,-118.150395,Bell Gardens,City,42294,"$12,026","$38,971","$39,190"
3,90220,90220,49328,29.8,23773,25555,12741,3.85,California,Los Angeles,...,90220,"Compton,Los Angeles,California",33.894927,-118.226624,Compton,City,96102,"$13,595","$43,311","$44,835"
4,90230,90230,31766,39.1,14932,16834,12883,2.45,California,Los Angeles,...,90230,"Culver City,Los Angeles,California",34.021122,-118.396466,Culver City,City,38899,"$42,832","$75,596","$96,809"

In [13]:
pop_house_income.shape

(76, 21)

#### Data Cleanse to get the final data file for further analysis

In [14]:
pop_house_income_final=pop_house_income.drop(["key_0","Zip Code","Zipcode","Place","Type","Total Population","State","Borough"],axis=1)
pop_house_income_final.head()

,Median Age,Total Males,Total Females,Total Households,Average Household Size,City,Address,lat,log,Population,Per capita income,Median household income,Median family income
0,26.6,28468,28642,12971,4.40,Los Angeles,"Los Angeles,Los Angeles,California",34.053691,-118.242766,3782544,"$28,222","$50,028","$54,243"
1,41.5,12153,8330,13364,1.53,West Hollywood,"West Hollywood,Los Angeles,California",34.092301,-118.369289,34564,"$53,227","$52,303","$63,725"
2,27.8,50658,50621,24104,4.16,Bell Gardens,"Bell Gardens,Los Angeles,California",33.969456,-118.150395,42294,"$12,026","$38,971","$39,190"
3,29.8,23773,25555,12741,3.85,Compton,"Compton,Los Angeles,California",33.894927,-118.226624,96102,"$13,595","$43,311","$44,835"
4,39.1,14932,16834,12883,2.45,Culver City,"Culver City,Los Angeles,California",34.021122,-118.396466,38899,"$42,832","$75,596","$96,809"

In [15]:
pop_house_income_final=pop_house_income_final[['City','Address','lat','log','Population','Median Age','Total Males','Total Females','Total Households','Average Household Size','Per capita income','Median household income','Median family income']]
pop_house_income_final

,City,Address,lat,log,Population,Median Age,Total Males,Total Females,Total Households,Average Household Size,Per capita income,Median household income,Median family income
0,Los Angeles,"Los Angeles,Los Angeles,California",34.053691,-118.242766,3782544,26.6,28468,28642,12971,4.40,"$28,222","$50,028","$54,243"
1,West Hollywood,"West Hollywood,Los Angeles,California",34.092301,-118.369289,34564,41.5,12153,8330,13364,1.53,"$53,227","$52,303","$63,725"
2,Bell Gardens,"Bell Gardens,Los Angeles,California",33.969456,-118.150395,42294,27.8,50658,50621,24104,4.16,"$12,026","$38,971","$39,190"
3,Compton,"Compton,Los Angeles,California",33.894927,-118.226624,96102,29.8,23773,25555,12741,3.85,"$13,595","$43,311","$44,835"
4,Culver City,"Culver City,Los Angeles,California",34.021122,-118.396466,38899,39.1,14932,16834,12883,2.45,"$42,832","$75,596","$96,809"
5,El Segundo,"El Segundo,Los Angeles,California",33.917028,-118.415634,16597,39.2,8304,8350,7085,2.34,"$46,185","$88,486","$103,890"
6,Gardena,"Gardena,Los Angeles,California",33.896359,-118.305304,58743,35.5,23217,24270,15830,2.96,"$22,969","$46,961","$55,227"
7,Hawthorne,"Hawthorne,Los Angeles,California",33.918859,-118.348326,84293,31.9,45113,48080,31087,2.98,"$19,862","$45,622","$50,490"
8,Hermosa Beach,"Hermosa Beach,Los Angeles,California",33.864280,-118.395910,19422,37.0,10273,9233,9550,2.04,"$69,857","$102,289","$156,506"
9,Huntington Park,"Huntington Park,Los Angeles,California",33.982704,-118.212034,58465,29.1,37525,37541,18419,4.06,"$12,461","$36,788","$37,573"
10,Lawndale,"Lawndale,Los Angeles,California",33.888522,-118.353199,32652,32.7,17509,17415,10429,3.33,"$18,895","$48,813","$52,093"
11,Lynwood,"Lynwood,Los Angeles,California",33.924831,-118.202415,69818,27.8,33919,35826,14669,4.57,"$12,443","$43,782","$43,856"
12,Malibu,"Malibu,Los Angeles,California",34.035591,-118.689423,12746,19.7,665,947,0,0.00,"$99,692","$132,926","$155,082"
13,Manhattan Beach,"Manhattan Beach,Los Angeles,California",33.891599,-118.395124,34986,40.9,17605,17530,14038,2.50,"$81,472","$132,752","$178,783"
14,Maywood,"Maywood,Los Angeles,California",33.986681,-118.185349,27454,27.9,13992,13380,6554,4.16,"$12,210","$38,155","$39,204"
15,Rancho Palos Verdes,"Rancho Palos Verdes,Los Angeles,California",33.748331,-118.370768,41575,47.8,20283,21521,15618,2.65,"$58,045","$116,643","$132,492"
16,Redondo Beach,"Redondo Beach,Los Angeles,California",33.845591,-118.388677,66397,42.0,17521,17772,16910,2.07,"$51,703","$94,982","$118,658"
17,South Gate,"South Gate,Los Angeles,California",33.946346,-118.200981,94586,29.4,46321,48075,23278,4.05,"$14,039","$41,990","$44,007"
18,Topanga,"Topanga,Los Angeles,California",34.090858,-118.597251,9065,45.0,3180,3188,2612,2.44,"$66,493","$127,167","$147,188"
19,Inglewood,"Inglewood,Los Angeles,California",33.956200,-118.353132,109967,32.6,17633,18935,11895,3.01,"$20,187","$44,021","$47,697"
20,Santa Monica,"Santa Monica,Los Angeles,California",34.019470,-118.491227,89153,37.8,3524,3198,4188,1.49,"$58,933","$71,400","$107,660"
21,Torrance,"Torrance,Los Angeles,California",33.835849,-118.340629,144622,35.0,21483,21697,14610,2.94,"$36,370","$75,885","$91,028"
22,Whittier,"Whittier,Los Angeles,California",33.970878,-118.030840,85161,36.6,15312,16662,11027,2.89,"$28,031","$68,055","$73,744"
23,Montebello,"Montebello,Los Angeles,California",34.015940,-118.111975,62470,34.7,30189,32360,19027,3.27,"$21,253","$52,496","$57,094"
24,Norwalk,"Norwalk,Los Angeles,California",33.909280,-118.084917,105348,32.5,52364,53185,27130,3.83,"$19,379","$60,090","$62,761"
25,Pico Rivera,"Pico Rivera,Los Angeles,California",33.983069,-118.096735,63004,34.0,30738,32190,16564,3.77,"$18,428","$55,632","$61,607"
26,Santa Fe Springs,"Santa Fe Springs,Los Angeles,California",33.948079,-118.069150,16333,36.2,7163,7703,4393,3.34,"$18,675","$53,638","$61,823"
27,Artesia,"Artesia,Los Angeles,California",33.869020,-118.079620,16495,38.2,8227,8364,4553,3.51,"$21,366","$58,281","$60,260"
28,Cerritos,"Cerritos,Los Angeles,California",33.864429,-118.053932,49281,43.9,23785,25614,15604,3.16,"$32,610","$87,853","$95,282"
29,Avalon,"Avalon,Los Angeles,California",33.342210,-118.327261,3690,37.2,2101,1989,1629,2.50,"$24,296","$49,514","$64,087"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,Calabasas,"Calabasas,Los Angeles,California",34.144664,-118.644097,22839,42.4,12487,13222,9303,2.76,"$67,123","$118,182","$135,889"
47,San Fernando,"San Fernando,Los Angeles,California",34.284970,-118.437652,23638,30.1,17130,17058,8176,4.17,"$16,211","$52,021","$54,667"
48,Santa Clarita,"Santa Clarita,Los Angeles,California",34.391664,-118.542586,173993,36.4,16270,17078,10991,3.01,"$33,322","$83,579","$92,521"
49,Stevenson Ranch,"Stevenson Ranch,Los Angeles,California",34.388178,-118.585396,17116,36.0,9852,10306,6636,3.04,"$47,877","$114,036","$130,036"
50,Burbank,"Burbank,Los Angeles,California",34.181648,-118.325855,103037,38.3,10040,10809,8235,2.53,"$33,651","$66,024","$78,802"
51,Azusa,"Azusa,Los Angeles,California",34.133875,-117.905605,46177,29.4,29486,30219,15455,3.67,"$19,119","$53,826","$57,778"
52,Baldwin Park,"Baldwin Park,Los Angeles,California",34.085474,-117.961176,75441,30.5,37969,38602,17504,4.35,"$15,534","$52,094","$51,948"
53,Claremont,"Claremont,Los Angeles,California",34.096676,-117.719779,34824,38.6,16777,18928,11868,2.58,"$37,539","$81,715","$104,608"
54,Covina,"Covina,Los Angeles,California",34.087793,-117.889116,47662,34.0,16859,17550,10079,3.41,"$26,055","$67,638","$74,726"
55,El Monte,"El Monte,Los Angeles,California",34.053691,-118.242766,113763,32.9,14888,14703,8007,3.66,"$14,464","$41,820","$43,183"
56,South El Monte,"South El Monte,Los Angeles,California",34.051955,-118.046734,20197,30.5,22191,21705,9918,4.40,"$14,013","$47,537","$45,858"
57,Glendora,"Glendora,Los Angeles,California",34.136119,-117.865339,50000,38.5,12269,13087,8376,2.94,"$32,851","$75,939","$85,104"
58,La Puente,"La Puente,Los Angeles,California",34.019790,-117.950368,39957,30.9,42564,42476,18648,4.55,"$15,762","$52,042","$54,040"
59,Hacienda Heights,"Hacienda Heights,Los Angeles,California",33.993068,-117.968675,55684,40.1,26287,27726,16188,3.33,"$28,376","$72,759","$79,390"
60,Rowland Heights,"Rowland Heights,Los Angeles,California",33.976124,-117.905339,50663,39.8,22368,23038,13311,3.40,"$26,030","$63,750","$66,383"
61,La Verne,"La Verne,Los Angeles,California",34.100843,-117.767836,31139,42.6,15881,17368,11944,2.71,"$32,335","$77,088","$89,824"
62,Monterey Park,"Monterey Park,Los Angeles,California",34.051522,-118.129807,60251,42.9,15620,17122,11193,2.92,"$23,639","$51,736","$58,973"
63,Diamond Bar,"Diamond Bar,Los Angeles,California",34.028623,-117.810337,55668,40.8,22702,23755,15039,3.08,"$35,771","$90,153","$98,506"
64,Pomona,"Pomona,Los Angeles,California",34.055381,-117.751750,148946,28.7,36111,35488,17708,4.01,"$17,113","$50,893","$53,297"
65,Rosemead,"Rosemead,Los Angeles,California",34.067617,-118.087976,53725,38.3,30521,31576,16588,3.70,"$17,869","$47,964","$51,702"
66,San Dimas,"San Dimas,Los Angeles,California",34.106676,-117.806726,33523,42.5,15737,17382,11941,2.73,"$33,731","$74,610","$84,409"
67,San Gabriel,"San Gabriel,Los Angeles,California",34.099073,-118.108568,39703,41.4,11448,12540,8227,2.90,"$25,432","$57,666","$61,491"
68,Temple City,"Temple City,Los Angeles,California",34.108299,-118.057757,35372,41.1,16438,17894,11318,3.03,"$26,779","$65,445","$72,675"
69,West Covina,"West Covina,Los Angeles,California",34.068621,-117.938953,105810,35.2,21721,23186,12751,3.49,"$26,006","$68,308","$75,610"
70,Alhambra,"Alhambra,Los Angeles,California",34.093042,-118.127060,83301,39.1,24833,27902,19315,2.71,"$24,849","$52,717","$56,062"
71,Acton,"Acton,Los Angeles,California",34.480741,-118.186838,7138,45.2,4086,3907,2729,2.86,"$33,279","$87,896","$94,673"
72,Lake Hughes,"Lake Hughes,Los Angeles,California",34.677458,-118.448711,680,41.7,1642,1290,1079,2.45,"$24,742","$52,823","$64,318"
73,Lancaster,"Lancaster,Los Angeles,California",34.699250,-118.156757,152678,31.1,18601,20740,14038,2.74,"$20,739","$52,290","$57,448"
74,Littlerock,"Littlerock,Los Angeles,California",34.521367,-117.987394,1237,32.9,6695,6338,3560,3.66,"$18,518","$50,982","$53,438"
75,Palmdale,"Palmdale,Los Angeles,California",34.579313,-118.117111,149001,27.5,36414,38515,20864,3.58,"$19,193","$55,213","$55,460"

In [16]:
pop_house_income_final.shape

(76, 13)